*{
			box-sizing: border-box;
		}
body {
    font-family: 'Headland One';font-size: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}
.row{
	margin: 0;
	padding: 0;
}

[class*="col-"]{
	float:left;
	padding: 15px 15px 0px 15px;
}

/* for mobilphone */
[class*="col-"]{
	width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
header{
	max-width:100%;
	color:blue;
}

		.banner{
			position: relative;
			max-width: 100%;
		}
		.content1{
			position: absolute;
			top: 10px;
			left: 50px;
			color: #2A0308;
		}
		.DS{
			max-width: 100%;
			background-color: #C1C7CC; 
		}
		.content2{
		padding: 5px 0px 10px 15px;
		color: #DE5F1F;
		}
		
		#footer{
			width:100%;
			}
		.MAUDS{
			background-color: #7D858C;
			max-width: 100%;
		}

.banner  img {
width: 100%;
height: auto;
}

.DS img {
	max-width: 100%;
	height: auto;
}
h3{
	color: #092E4F;
}
a{
	color: blue;
}